 #container {
  display: flex;
  flex-direction: row;
  border: 5px solid;
  flex-wrap:wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  height:350px;
}

.box{
  width:30%;
}

.box1{
  background-color: red;
}

.box2{
  background-color: maroon;
  order:1;
}

.box3{
  background-color:yellow;
  order:2;
}

.box4{
  background-color: orange;
  flex: 3 1 auto;
  order:3;
}

.box5{
  background-color: green;
  align-self: center;
  order:4;
}

.box6{
  background-color: blue;
  order:5;
}

.box7{
  background-color: aqua;
  order:6;
}

.box8{
  background-color: purple;
  order:7;
}

.box9{
  background-color: brown;
  order:8;
}

.box10{
  background-color: magenta;
  order:0;
}

#layout{
  display: grid;
  /* grid-template-rows: [header-start] 100px [head-end content-start] 400px [footer-start] 100px;
  grid-template-columns:[ads] 200px [main] 1fr [links] 200px;
  grid-template-areas:"header header header"
                      "ads     ads    ads"
                      "footer  footer  footer"; */
grid:
[header-start] "header header header" 100px
[content-start] "ads main links" 400px
[footer-start] "footer footer2 footer3" 100px
/ [ads] 200px [main] 1fr [links] 200px;
grid-row-gap: 1em;
grid-column-gap: 1em;
  /* grid-template-columns:repeat(5,20px,1fr); */
}

#one{
  background-color: red;
  /* grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start:1;
  grid-column-end: 4;

  grid-row 1 /  2;
  grid-column: 1/ span 3;*/

  grid-area: header;
}

#two{
  background-color: lightgreen;
  grid-area: ads;
}

#three{
  background-color: orange;
  grid-area: main;
}

#four{
  background-color: lightblue;
  grid-area:links;
}

#five{
  background-color: yellow;
  grid-area:footer;
}

#six{
  background-color: brown;
  grid-area: footer2;
}

#seven{
  background-color: purple;
  grid-area: footer3;
}
