
    p {
      background: #f2f5d5;
      width: 1000px;
      height: 1000px;
      padding: 20px;
      border: 5px solid gray;
      margin: 40px;
      box-sizing:border-box;

      box-shadow: 6px 5px 6px 10px #666;
    }

    <!-- ul.navigation li {
      display: inline;
    } -->

    ul {
      z-index: 2;
      position: fixed;
      list-style-type: none;
      margin:0;
      padding:0;

    }

    ul li{
      float: left;
    }

    ul li a{

      display: block;
      width: 100px;
      margin: 10px;
      text-align:center;
      text-decoration: none;
      padding: 30px 30px;
      color:white;
      background-color: blue;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

    }

    img {
      float: right;
      margin: 40px;
    }

    em{
      z-index: 1;
      position:fixed;
      top:2em;
      left:3em;
      background-color:fuchsia;
    }

    #float{
      float: left;
      width:200px;
      margin: 20px;
      background: white;
    }

    #clear{
      clear:both;
      margin top: 40px;
    }
